/* All Elements*/

* {
    box-sizing: border-box;
    font-family: 'Rubik';
}


ul {
    list-style: none;
    text-decoration: none;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/*
Text elements
*/

p {
    padding: 0;
    margin: 0;
}

h1 {
    font-weight: normal;
    padding: 0;
    margin: 0;
    font-size: 50px;
}

h5 {
    font-size: 20px;
    font-weight: normal;
    margin: 0;
    padding: 0;
}

/*
Emojis
*/

* > .emoji,
.emoji {
    vertical-align: text-top;
    display: inline-block;
}

.emoji {
    padding: 0;
    margin: 0;
}

/*
Tables
*/

table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    max-width: 600px;
    width: 100%;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
}

table thead tr {
    background-color: #6C80E8;
    color: #ffffff;
    text-align: left;
}

table th {
    font-weight: 500;
}

table th,
table td {
    padding: 12px 15px;
}

table tbody tr:nth-of-type(even) {
    background-color: #F7FBFF;
}

/*
CTA
*/

button {
    min-width: 260px;
    aspect-ratio: 260/50;
    border: solid 2px #6C80E8;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
}

button.primary {
    background-color: #6C80E8;
    color: white;
}

button.secondary {
    background-color: white;
    color: #6C80E8;
}

button:disabled {
    background-color: #e5e5e5;
    color: #aeaeae;
    border: none;
}

button.primary-red {
    background-color: #E86C6C;
    color: white;
    border: none;
}

/*
Form elements
*/

textarea.big {
    width: 100%;
    min-height: 300px;
}
label {
    font-size: 16px;
    display: block;
}

input[type="text"] {
    min-width: 100px;
    height: 27px;
    border: solid 2px #6C80E8;
    border-radius: 6px;
    padding: 2px 10px;
    font-size: 16px;
}

input[type="text"]::placeholder {
    color: #BECFEF;
}

textarea {
    min-width: 100px;
    height: 27px;
    border: solid 2px #6C80E8;
    border-radius: 6px;
    padding: 2px 10px;
    font-size: 16px;
}

input[type="submit"], button.submit {
    min-width: 10px;
    width: 160px;
    height: 27px;
    font-size: 15px;
    border: none;
    border-radius: 6px;
    color: white;
    background-color: #6C80E8;
    text-align: center;
}

button.submit > * {
    vertical-align: text-top;
}